<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/zcss2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/homestyle.css">

    <link rel="icon" type="image/x-icon" href="stack-of-books.png">
    <title>The BookShelf</title>
</head>





<body>
    <nav>

        <div class="container">
            <div class="navbar">


                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contactus">CONTACT</a></li>
                    <li><a href="/account">ACCOUNT</a></li>
                    <li><a href="/books">BOOKS</a></li>
                    

                </ul>
            </div>
            <div class="quote">
                <h3>
                    AFFORDIBILITY AT YOUR FINGERTIPS !
                </h3>
            </div>
            <div class="wrapper">

                <a href="/selectclg"> <button class="blue" >Buy</button></a>

                <a href="/sell"><button style="width:auto;">Sell
                </button></a>
             
             




            </div>

            <div class="qt2">

                <h3>

                    Ever wanted to buy a book but could not because it was too expensive? worry not! because BookShelf
                    is
                    here! BookShelf, these days in news,is being called as the Robinhood of the world of books.
                    BookShelf
                    team is committed to bring to you all kinds of best books at the minimal prices ever seen anywhere.
                    Yes, we are literally giving you away a steal.
                </h3>

            </div>
        </div>
    </nav>

    <!-- <section>
        <div class="bookcontainer">
            <div class="mybooks">
                <div class="bookimg">
                    <img src="" alt="">
                </div>
                <div class="booktitle">
                    
                </div>

            </div>
        </div>
    </section> -->



<script>
   const form = document.querySelector('#id01');
  const closeButton = document.querySelector('#close-button');

  closeButton.addEventListener('click', () => {
    form.style.display = 'none';
  });
  
</script>



</body>


</html>