<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- reset-password.ejs -->
<form action="/reset-password" method="post">
    <input type="hidden" name="token" value="<%= token %>">
    <div class="container">
      <label for="password"><b>New Password</b></label>
      <input type="password" placeholder="Enter New Password" name="password" required>
      <label for="passwordConfirm"><b>Confirm New Password</b></label>
      <input type="password" placeholder="Confirm New Password" name="passwordConfirm" required>
      <button type="submit">Reset Password</button>
    </div>
  </form>
  
</body>
</html>